body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    background: url('header-background.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.curiosity {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
}

.curiosity img {
    max-width: 100%;
    height: auto;
    border-radius: 12px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: rgba(51, 51, 51, 0.8); 
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
